<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    </header>

    <main class="page">
      {{ content }}
    </main>

    <footer>
      <p>© {{ site.time | date: "%Y" }} {{ site.title }}. Comply. Consume. Compute.</p>
    </footer>
  </body>
</html>
